.imgbox_small{
    //object-fit: cover;
    width: 160px;
    height: 80px;
}

.imgbox_small1{
    //object-fit: cover;
    width: 120px;
    height: 80px;
}

.cart-popup {
    min-width: 450px;
    border: none;
}